@media screen and (max-width: 1920px) {
    /* Contact page */
    #contact {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1736px) {
    /* Homepage */
    /* Header */
    nav ul li a {
        font-size: 25px;
    }


    /* Home */
    .home-container {
        width: 90%;
    }

    .home-section {
        width: 56%;
        margin-right: 40px;
    }


    /* Experience section */
    .experiences-container h2 {
        font-size: 80px;
    }

    .experience {
        width: 90%;
        font-size: 25px;
    }

    .experience-info {
        margin-left: 140px;
        width: 50%;
    }


    /* Back to top */
    #back-to-top {
        width: 55px;
        height: 55px;
        font-size: 24px;
    }


    /* Footer */
    footer {
        font-size: 20px;
    }


    /* About page */
    #about-h1 {
        font-size: 40px;
        padding-left: 30px;
    }

    #about p {
        font-size: 16px;
    }


    /* Footer */
    footer {
        font-size: 17px;
    }
}

@media screen and (max-width: 1536px) {
    /* About page */
    #about-body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../images/about.jpg);
    }

    #about p {
        font-size: 20px;
    }
}

@media screen and (max-width: 1440px) {
    /* About page */
    #about-body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(../images/about.jpg);
    }

    #about-container {
        align-items: center;
        padding: 30px 0 0 0;
    }

    #about {
        text-align: center;
        margin-left: 4%;
    }

    #about-h1 {
        font-size: 44px;
        margin-left: -85px;
    }

    #about p {
        font-size: 20px;
    }


    /* Projects page */
    #projects-h1 {
        font-size: 40px;
    }

    .project h3 {
        font-size: 25px;
    }

    section p {
        font-size: 17px;
    }

    section ul {
        font-size: 17px;
    }


    /* Back to top */
    #back-to-top {
        width: 50px;
        height: 50px;
        font-size: 22px;
    }
}

@media screen and (max-width: 1379px) {
    /* Header */
    nav ul li a {
        font-size: 22px;
    }


    /* Home */
    .home-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 148px;
    }

    .home-section {
        font-size: 27px;
        margin: 0;
    }

    .typed-words {
        display: block;
        position: absolute;
    }

    .about-me {
        margin-top: 50px;
    }

    .me-image img {
        width: 360px;
        height: 360px;
    }


    /* Experience section */
    .experiences-container h2 {
        font-size: 40px;
    }

    .experience {
        font-size: 26px;
    }

    .date {
        text-align: center;
    }
}

@media screen and (max-width: 1366px) {
    /* Homepage */
    /* Experience section */
    .experiences-container h2 {
        font-size: 38px;
    }

    .experience {
        font-size: 20px;
    }

    /* About page */
    #about-h1 {
        font-size: 40px;
    }

    #about p {
        font-size: 18px;
    }


    /* Back to top */
    #back-to-top {
        width: 52px;
        height: 52px;
        font-size: 21px;
    }


    /* Contact page */
    #contact {
        margin-top: 4px;
    }

    .contact-card {
        width: 590px;
        height: 395px;
    }

    .profile-image {
        width: 180px;
        height: 180px;
    }

    .card-content {
        padding-top: 74px;
    }

    .contact-h1 {
        font-size: 1.6rem;
    }

    .contact-h2 {
        font-size: 1.4rem;
    }

    .email-container {
        margin-bottom: 1rem;
    }

    .card-content p {
        font-size: 15px;
        margin-bottom: 1rem;

    }


    .weather-info-details {
        width: 100%;
        padding: 0;
    }

    .weather-container {
        margin: 25px auto 0;
        width: 62%;
    }


    .weather-info {
        text-align: center;
        width: 100%;
    }

    .temp-toggle {
        margin-left: auto;
        margin-right: auto;
    }

    .project-content h3 {
        order: 1;
    }

    .project-content p,
    .project-content ul {
        order: 2;
    }

    .project-img-container {
        order: 4;
    }

    .buttons-container {
        order: 3;
    }

    .project img {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1280px) {
    /* Homepage */
    /* Header */
    nav ul li a {
        font-size: 20px;
    }

    /* Home */
    .home-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .home-section {
        width: 40%;
        font-size: 26px;
    }

    .name h1 {
        margin-bottom: 10px;
    }

    .me-image img {
        width: 300px;
        height: 300px;
    }


    /* Experience section */
    .experiences-container h2 {
        font-size: 44px;
    }

    .experience {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .experience-date {
        font-size: 24px;
        width: 100%;
        margin-bottom: 20px;
    }

    .experience-info {
        font-size: 26px;
        width: 90%;
        text-align: center;
        margin: 0;
    }


    /* About page */
    #about p {
        font-size: 16px;
    }


    /* Projects page */
    #projects-h1 {
        font-size: 35px;
    }

    .project h3 {
        font-size: 22px;
    }

    section p {
        font-size: 16px;
    }

    section ul {
        font-size: 15px;
    }

    .weather-features {
        text-align: left;
        padding-left: 40px;
    }

    .hangman-rules {
        text-align: left;
        padding-left: 40px;
    }

    /* Back to top */
    #back-to-top {
        width: 50px;
        height: 50px;
        font-size: 20px;
        right: 50px;
    }

    /* Footer */
    footer {
        font-size: 15px;
    }


    /* Contact page */
    #contact {
        margin-top: 50px;
        margin-bottom: -43px;
    }
}

@media screen and (max-width: 1199px) {
    /* Experience section */
    .experience-date {
        font-size: 30px;
    }

    .experience-info {
        font-size: 30px;
    }


    /* Back to top */
    #back-to-top {
        width: 60px;
        height: 60px;
        font-size: 26px;
        right: 25px;
    }


    /* Footer */
    footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 1100px) {
    /* Header */
    nav {
        position: sticky;
        top: 0;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s ease-in-out;
    }

    nav ul.open {
        max-height: 1100px;
    }

    nav ul li a {
        font-size: 28px;
        padding: 15px 0;
        display: block;
    }

    nav ul li a.active {
        padding-bottom: 5px;
    }


    /* Hamburger menu */
    .hamburger-menu {
        display: inline-block;
        position: relative;
        width: 60px;
        height: 40px;
        cursor: pointer;
        color: #fff;
        margin: 30px 0;
    }

    nav ul.open {
        max-height: 1100px;
    }

    .hamburger-menu .line {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #fff;
        transition: all 0.8s;
    }

    .line.line1 {
        top: 0;
    }

    .line.line2 {
        top: 18px;
    }

    .line.line3 {
        bottom: 0;
    }

    .hamburger-menu.open .line.line1 {
        transform: translateY(18px) rotate(45deg);
    }

    .hamburger-menu.open .line.line2 {
        opacity: 0;
    }

    .hamburger-menu.open .line.line3 {
        transform: translateY(-18px) rotate(-45deg);
    }


    /* About page */
    #about-container {
        padding: 30px 0 0 1%;
    }

    #about {
        width: 87%;
    }

    #about-h1 {
        font-size: 30px;
    }

    #about p {
        font-size: 13px;
    }


    /* Contact page */
    .contact-card {
        width: 460px;
        height: 370px;
    }

    .profile-image {
        width: 160px;
        height: 160px;
    }

    .card-content {
        padding-top: 50px;
    }


    /* Projects page */
    #projects-h1 {
        font-size: 27px;
    }

    .project {
        width: 90%;
    }

    #projects ul {
        margin-left: auto;
        margin-right: auto;
    }

    .project a {
        font-size: 20px;
    }

    section p {
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
    }

    section ul {
        font-size: 18px;
    }

    .connect-four {
        width: 100%;
        padding: 0;
    }

    .connect-four-img {
        width: 100%;
    }


    .hangman {
        width: 100%;
        padding: 0;
    }

    .project img {
        max-width: 100%;
        margin: 0 auto;
    }

    .project-img-container {
        width: 100%;
    }


    /* Back to top */
    #back-to-top {
        width: 55px;
        height: 55px;
        font-size: 25px;
    }
}

@media screen and (max-width: 1085px) {
    /* Homepage */
    /* Home */
    .home-container {
        gap: 50px;
    }

    .home-section {
        width: 48%;
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) {
    /* Header */
    nav ul {
        gap: 0.5rem;
    }

    nav ul li {
        margin: 0;
    }


    /* Homepage */
    /* Home */
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        margin-top: 30px;
    }

    .home-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        font-size: 48px;
    }

    .name h1 {
        font-size: 60px;
    }

    .home-section h3 {
        font-size: 40px;
        text-align: center;
    }

    .typed-words {
        left: 33%;
    }

    .me-image {
        width: 300px;
        height: 300px;
        order: -1;
    }

    .about-me {
        width: 100%;
        margin-top: 100px;
        text-align: center;
    }

    .cv-download {
        font-size: 50px;
    }


    /* Experience section */
    .experiences-container h2 {
        font-size: 90px;
    }

    .experience-date {
        font-size: 30px;
    }

    .experience-info {
        font-size: 30px;
    }

    .experience-position {
        font-size: 40px;
    }

    .experience-info .experience-location {
        text-align: center;
    }
}

@media screen and (max-width: 980px) {
    /* Homepage */
    .me-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .me-image img {
        width: 240px;
        height: 240px;
    }

    .home-section {
        font-size: 26px;
    }

    .name h1 {
        font-size: 36px;
    }

    .home-section h3 {
        font-size: 32px;
    }

    .typed-words {
        left: 34%;
    }

    .cv-download {
        display: block;
        font-size: 26px;
        width: 30%;
        margin: 25px auto 0;
    }


    /* Experience section */
    .experiences-container h2 {
        font-size: 66px;
    }

    .experience-date {
        font-size: 26px;
    }

    .experience-position {
        font-size: 28px;
    }

    .experience-info {
        font-size: 20px;
    }


    /* Projects page */
    #projects-h1 {
        font-size: 37px;
    }

    .project h3 {
        font-size: 22px;
    }

    section p {
        font-size: 12px;
    }

    .weather-btn {
        padding: 14px 20px;
        font-size: 10px;
    }

    .temp-toggle {
        font-size: 10px;
    }

    .project a {
        font-size: 10px;
    }


    /* Back to top */
    #back-to-top {
        width: 50px;
        height: 50px;
        font-size: 22px;
    }
}

@media screen and (max-width: 939px) {
    /* Home */
    .cv-download {
        width: 34%;
    }
}

@media screen and (max-width: 900px) {
    /* About page */
    #about-container {
        margin-left: 3%;
        padding: 18px 0 0 0;
    }

    #about {
        width: 93%;
        margin-left: 1%;
    }


    /* Back to top */
    #back-to-top {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
}

@media screen and (max-width: 839px) {
    /* Homepage */
    /* Home */
    .cv-download {
        width: 46%;
        padding: 20px;
    }


    /* Experience section */
    .experiences-container h2 {
        font-size: 56px;
    }

    .experience-date {
        font-size: 22px;
    }

    .experience-position {
        font-size: 26px;
    }

    .experience-info {
        font-size: 18px;
    }


    /* Back to top */
    #back-to-top {
        width: 44px;
        height: 44px;
        font-size: 18px;
        right: 16px;
    }

}

@media screen and (max-width: 780px) {
    /* Homepage */
    /* Home */
    .typed-words {
        left: 30%;
    }

    .cv-download {
        width: 43%;
        padding: 14px;
        font-size: 22px;
    }
}

@media screen and (max-width: 685px) {
    /* Header */
    nav ul li {
        display: inline;
        margin: 5px 0;
    }

    nav ul li a {
        font-size: 30px;
        padding: 0;
    }

    nav ul.open {
        max-height: 800px;
    }


    /* Homepage */
    /* Home */
    .home-section {
        font-size: 20px;
    }

    .name h1 {
        font-size: 32px;
    }

    .home-section h3 {
        font-size: 24px;
    }

    .typed-words {
        left: 32%;
    }

    .cv-download {
        width: 37%;
        padding: 7px;
        font-size: 20px;
    }

    /* Back to top */
    #back-to-top {
        width: 38px;
        height: 38px;
        font-size: 16px;
        right: 10px;
    }


    /* Experience section */
    .experiences-container h2 {
        font-size: 46px;
    }

    .experience-date {
        font-size: 18px;
    }

    .experience-position {
        font-size: 24px;
    }

    .experience-info {
        font-size: 16px;
    }

    .role-bullet-list {
        margin-left: -5%;
    }
}

@media screen and (max-width: 615px) {
    /* Homepage */
    /* Experience section */
    .experiences-container h2 {
        font-size: 40px;
    }

    .experience-date {
        font-size: 14px;
    }

    .experience-position {
        font-size: 20px;
    }


    /* Back to top */
    #back-to-top {
        width: 32px;
        height: 32px;
        font-size: 14px;
        right: 6px;
    }


    /* Contact page */
    #contact {
        margin-top: -46px;
    }

    .contact-card {
        height: 300px;
    }

    .profile-image {
        width: 140px;
        height: 140px;
    }

    .card-content {
        padding-top: 20px;
    }

    .contact-h1 {
        font-size: 1.3rem;
    }

    .contact-h2 {
        font-size: 1.1rem;
    }

    .card-content p {
        font-size: 12px;
    }

    .email-container {
        font-size: 14px;
    }


    /* Projects page */
    #projects-h1 {
        font-size: 25px;
    }


    /* Footer */
    footer {
        font-size: 10px;
    }
}

@media screen and (max-width: 575px) {
    /* Homepage */
    /* Home */
    .me-image img {
        width: 225px;
        height: 225px;
    }

    .typed-words {
        left: 29%;
    }

    .cv-download {
        width: 48%;
        padding: 8px;
        font-size: 18px;
    }


    /* Projects page */
    .weather-app-form {
        padding: 0;
    }

    .weather-btn {
        position: relative;
        right: 0;
        padding: 11px 20px;
    }

    .project h3 {
        font-size: 20px;
    }

    section p {
        font-size: 16px;
    }

    section ul {
        font-size: 15px;
    }

    .project a {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    /* Homepage */
    /* Home */
    .home-section {
        font-size: 18px;
    }

    .name h1 {
        font-size: 30px;
    }

    .home-section h3 {
        font-size: 22px;
    }

    .typed-words {
        left: 26%;
    }

    .me-image img {
        width: 235px;
        height: 215px;
    }
}

@media screen and (max-width: 455px) {
    /* Back to top */
    #back-to-top {
        width: 28px;
        height: 28px;
        font-size: 12px;
        right: 5px;
    }
}

@media screen and (max-width: 414px) {
    /* Header */
    nav ul.open {
        max-height: 830px;
    }

    .hamburger-menu {
        margin: 20px 0 20px 0;
    }

    nav ul li {
        margin: 10px 0;
    }


    /* Homepage */
    /* Home */
    .typed-words {
        left: 22%;
    }

    .cv-download {
        width: 58%;
        padding: 8px;
        font-size: 16px;
    }


    /* Projects page */
    #projects-h1 {
        font-size: 20px;
    }

    .project a {
        font-size: 16px;
        margin-bottom: 10px;
    }

    
    /* About page */
    #about-container {
        margin-left: 0;
        padding: 18px 0 0 0;
    }

    #about-h1 {
        margin-left: -37px;
    }

    /* Footer */
    footer {
        font-size: 10px;
    }
}

@media screen and (max-width: 382px) {
    /* Hamburger menu */
    .hamburger-menu {
        transform: scale(0.5);
    }

    nav ul li a {
        font-size: 17px;
    }

    nav ul.open {
        max-height: 530px;
    }


    /* Homepage */
    /* Home */
    .home-container {
        min-height: 0;
        margin-top: 0;
        gap: 0;
    }

    .me-image {
        width: 70%;
    }

    .me-image img {
        width: 67%;
        height: 58%;
    }

    .home-section {
        font-size: 14px;
    }

    .name h1 {
        font-size: 24px;
    }

    .home-section h3 {
        font-size: 17px;
    }

    .typed-words {
        left: 26%;
    }

    .about-me {
        margin-top: 54px;
    }

    .cv-download {
        width: 50%;
        padding: 8px;
        font-size: 14px;
    }


    /* Experience section */
    .experiences-container h2 {
        font-size: 30px;
    }

    .experience {
        padding: 30px 0 54px;
    }

    .experience-date {
        font-size: 12px;
    }

    .experience-position {
        font-size: 14px;
    }

    .experience-info {
        font-size: 12px;
    }


    /* Back to top */
    #back-to-top {
        width: 24px;
        height: 24px;
        font-size: 10px;
    }


    /* Footer */
    footer {
        padding: 5px 0;
    }
}

@media screen and (max-width: 325px) {
    /* Homepage */
    /* Home */
    .home-container {
        margin-top: -52px;
    }

    .home-section {
        font-size: 12px;
        margin-top: -48px;
    }

    .name h1 {
        font-size: 20px;
    }

    .home-section h3 {
        font-size: 12px;
    }

    .me-image img {
        width: 60%;
        height: 44%;
    }

    .typed-words {
        left: 31%;
    }

    .about-me {
        margin-top: 30px;
    }

    .cv-download {
        width: 47%;
        padding: 7px;
        font-size: 11px;
    }


    /* Experience section */
    .experiences-container {
        padding-top: 20px;
    }

    .experiences-container h2 {
        font-size: 22px;
        margin-bottom: 24px;
    }

    .experience-date {
        font-size: 11px;
    }

    .experience-position {
        font-size: 13px;
    }

    .experience-info {
        font-size: 8px;
    }

    .role-bullet-list li {
        padding-left: 0;
    }

    .experience {
        padding: 18px 0 31px;
    }

    #back-to-top {
        width: 21px;
        height: 21px;
        font-size: 9px;
    }


    /* About page */
    #about-h1 {
        font-size: 30px;
    }

    #about p {
        font-size: 13px;
    }
}

@media screen and (max-width: 414px) and (max-height: 896px) {
    /* Contact page */
    #contact {
        margin-top: -35px;
    }

    .profile-image {
        width: 124px;
        height: 124px;
    }
}

@media screen and (max-height: 820px) {
    /* Contact page */
    #contact {
        min-height: 100vh;
    }
}

@media screen and (max-height: 746px) {
    /* Contact page */
    #contact {
        margin-top: 0;
    }
}