@media screen and (max-width: 1736px) {
    /* Header */
    nav ul li a {
        font-size: 30px;
    }


    /* Home */
    .home-container {
        width: 90%;
    }

    .home-section {
        width: 56%;
        margin-right: 40px;
    }


    /* Experiences section */
    .experiences-container h2 {
        font-size: 80px;
    }

    .experience {
        width: 90%;
        font-size: 25px;
    }

    .experience-info {
        margin-left: 140px;
        width: 50%;
    }


    /* Back to top */
    #back-to-top {
        width: 65px;
        height: 65px;
        font-size: 26px;
        right: 25px;
    }


    /* Footer */
    footer {
        font-size: 20px;
    }
}

@media screen and (max-width: 1379px) {
    /* Header */
    nav ul li a {
        font-size: 34px;
    }


    /* Home */
    .home-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 148px;
    }

    .home-section {
        font-size: 27px;
        margin: 0;
    }

    .typed-words {
        display: block;
        position: absolute;
    }

    .about-me {
        margin-top: 50px;
    }

    .me-image img {
        width: 360px;
        height: 360px;
    }


    /* Experiences section */
    .experiences-container h2 {
        font-size: 40px;
    }

    .experience {
        font-size: 26px;
    }

    .date {
        text-align: center;
    }


    /* Back to top */
    #back-to-top {
        width: 56px;
        height: 56px;
        font-size: 24px;
    }
}

@media screen and (max-width: 1280px) {
    /* Home */
    .home-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .home-section {
        width: 40%;
        font-size: 26px;
    }

    .name h1 {
        margin-bottom: 10px;
    }

    .me-image img {
        width: 300px;
        height: 300px;
    }


    /* Experiences section */
    .experiences-container h2 {
        font-size: 44px;
    }

    .experience {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .experience-date {
        font-size: 24px;
        width: 100%;
        margin-bottom: 20px;
    }

    .experience-info {
        font-size: 26px;
        width: 90%;
        text-align: center;
        margin: 0;
    }


    /* Back to top */
    #back-to-top {
        width: 55px;
        height: 55px;
        font-size: 22px;
        right: 25px;
    }


    /* Footer */
    footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 1199px) {
    /* Experience section */
    .experience-date {
        font-size: 30px;
    }

    .experience-info {
        font-size: 30px;
    }


    /* Back to top */
    #back-to-top {
        width: 60px;
        height: 60px;
        font-size: 26px;
        right: 25px;
    }


    /* Footer */
    footer {
        font-size: 22px;
    }
}

@media screen and (max-width: 1085px) {
    /* Home */
    .home-container {
        gap: 50px;
    }

    .home-section {
        width: 48%;
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px) {
    /* Header */
    nav ul {
        gap: 2.5rem;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        font-size: 40px;
    }


    /* Home */
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        margin-top: 30px;
    }

    .home-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        font-size: 48px;
    }

    .name h1 {
        font-size: 60px;
    }

    .home-section h3 {
        font-size: 40px;
        text-align: center;
    }

    .typed-words {
        left: 33%;
    }

    .me-image {
        width: 300px;
        height: 300px;
        order: -1;
    }

    .about-me {
        width: 100%;
        margin-top: 100px;
        text-align: center;
    }

    .cv-download {
        font-size: 50px;
    }


    /* Experiences section */
    .experiences-container h2 {
        font-size: 90px;
    }

    .experience-date {
        font-size: 30px;
    }

    .experience-info {
        font-size: 30px;
    }

    .experience-position {
        font-size: 40px;
    }

    .experience-info .experience-location {
        text-align: center;
    }


    /* Back to top */
    #back-to-top {
        width: 60px;
        height: 60px;
        font-size: 28px;
    }


    /* Footer */
    footer {
        font-size: 26px;
    }

    /* Projects */
    /*.project {*/
    /*    flex-direction: column;*/
    /*    width: 90%;*/
    /*    gap: 1rem;*/
    /*}*/
    /*.connect-four,*/
    /*.hangman,*/
    /*.weather-app {*/
    /*    width: 100%;*/
    /*    padding-right: 0;*/
    /*}*/
    /*.connect-four-img,*/
    /*.hangman-img {*/
    /*    width: 100%;*/
    /*}*/
    /*.weather-app-form {*/
    /*    width: 100%;*/
    /*}*/
    /*input[type="text"] {*/
    /*    width: 100%;*/
    /*}*/
}

@media screen and (max-width: 980px) {
    /* Header */
    nav ul {
        gap: 4.5rem;
    }


    /* Home */
    .me-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .me-image img {
        width: 240px;
        height: 240px;
    }

    .home-section {
        font-size: 26px;
    }

    .name h1 {
        font-size: 36px;
    }

    .home-section h3 {
        font-size: 32px;
    }

    .typed-words {
        left: 34%;
    }

    .cv-download {
        display: block;
        font-size: 26px;
        width: 30%;
        margin: 25px auto 0;
    }


    /* Experiences section */
    .experiences-container h2 {
        font-size: 66px;
    }

    .experience-date {
        font-size: 26px;
    }

    .experience-position {
        font-size: 28px;
    }

    .experience-info {
        font-size: 20px;
    }


    /* Back to top */
    #back-to-top {
        width: 50px;
        height: 50px;
        font-size: 22px;
    }


    /* Footer */
    footer {
        font-size: 20px;
    }

}

@media screen and (max-width: 939px) {
    /* Header */
    nav {
        position: sticky;
        top: 0;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 0;
        overflow: hidden;
        transition: height 1s ease-in-out;
    }

    nav ul.open {
        height: 500px;
    }

    nav ul li a {
        font-size: 40px;
        padding: 30px 20px;
        display: block;
    }

    nav ul li a.active {
        padding-bottom: 5px;
    }

    /* Hamburger menu */
    .hamburger-menu {
        display: inline-block;
        position: relative;
        width: 60px;
        height: 40px;
        cursor: pointer;
        color: #fff;
        margin: 30px 0;
    }

    nav ul.open {
        height: 500px;
        /*margin-left: 0;*/
    }

    .hamburger-menu .line {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #fff;
        transition: all 0.8s;
    }

    .line.line1 {
        top: 0;
    }

    .line.line2 {
        top: 18px;
    }

    .line.line3 {
        bottom: 0;
    }

    .hamburger-menu.open .line.line1 {
        transform: translateY(18px) rotate(45deg);
    }

    .hamburger-menu.open .line.line2 {
        opacity: 0;
    }

    .hamburger-menu.open .line.line3 {
        transform: translateY(-18px) rotate(-45deg);
    }


    /* Home */
    .cv-download {
        width: 34%;
    }
}

@media screen and (max-width: 839px) {

    /* Home */
    .cv-download {
        width: 46%;
        padding: 20px;
    }


    /* Experiences section */
    .experiences-container h2 {
        font-size: 56px;
    }

    .experience-date {
        font-size: 22px;
    }

    .experience-position {
        font-size: 26px;
    }

    .experience-info {
        font-size: 18px;
    }


    /* Back to top */
    #back-to-top {
        width: 44px;
        height: 44px;
        font-size: 18px;
        right: 16px;
    }

}

@media screen and (max-width: 780px) {
    /* Home */
    .typed-words {
        left: 30%;
    }

    .cv-download {
        width: 43%;
        padding: 14px;
        font-size: 22px;
    }
}

@media screen and (max-width: 685px) {
    /* Header */
    nav ul li {
        display: inline;
        margin: 20px 0;
    }

    nav ul li a {
        font-size: 30px;
        padding: 0;
    }

    nav ul.open {
        height: 400px;
    }


    /* Home */
    .home-section {
        font-size: 20px;
    }

    .name h1 {
        font-size: 32px;
    }

    .home-section h3 {
        font-size: 24px;
    }

    .typed-words {
        left: 32%;
    }

    .cv-download {
        width: 37%;
        padding: 7px;
        font-size: 20px;
    }

    /* Back to top */
    #back-to-top {
        width: 38px;
        height: 38px;
        font-size: 16px;
        right: 10px;
    }


    /* Experiences section */
    .experiences-container h2 {
        font-size: 46px;
    }

    .experience-date {
        font-size: 18px;
    }

    .experience-position {
        font-size: 24px;
    }

    .experience-info {
        font-size: 16px;
    }


    /* Footer */
    footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 615px) {
    /* Experiences section */
    .experiences-container h2 {
        font-size: 40px;
    }

    .experience-date {
        font-size: 14px;
    }

    .experience-position {
        font-size: 20px;
    }


    /* Back to top */
    #back-to-top {
        width: 32px;
        height: 32px;
        font-size: 14px;
        right: 6px;
    }
}

@media screen and (max-width: 575px) {
    /* Home */
    .me-image img {
        width: 220px;
        height: 230px;
    }

    .typed-words {
        left: 29%;
    }

    .cv-download {
        width: 48%;
        padding: 8px;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    /* Home */
    .home-section {
        font-size: 18px;
    }

    .name h1 {
        font-size: 30px;
    }

    .home-section h3 {
        font-size: 22px;
    }

    .typed-words {
        left: 26%;
    }
}

@media screen and (max-width: 455px) {
    /* Back to top */
    #back-to-top {
        width: 28px;
        height: 28px;
        font-size: 12px;
        right: 5px;
    }
}

@media screen and (max-width: 414px) {
    /* Header */
    nav ul.open {
        height: 330px;
    }

    .hamburger-menu {
        margin: 10px 0 0 0;
    }

    nav ul li {
        margin: 10px 0;
    }


    /* Home */
    .typed-words {
        left: 22%;
    }

    .cv-download {
        width: 58%;
        padding: 8px;
        font-size: 16px;
    }

    /* Footer */
    footer {
        font-size: 10px;
    }
}

@media screen and (max-width: 382px) {
    /* Hamburger menu */
    .hamburger-menu {
        transform: scale(0.5);
    }

    nav ul li a {
        font-size: 17px;
    }

    nav ul.open {
        height: 230px;
    }


    /* Home */
    .home-container {
        min-height: 0;
        margin-top: 0;
        gap: 0;
    }

    .me-image {
        width: 70%;
    }

    .me-image img {
        width: 67%;
        height: 58%;
    }

    .home-section {
        font-size: 14px;
    }

    .name h1 {
        font-size: 24px;
    }

    .home-section h3 {
        font-size: 17px;
    }

    .typed-words {
        left: 26%;
    }

    .about-me {
        margin-top: 54px;
    }

    .cv-download {
        width: 50%;
        padding: 8px;
        font-size: 14px;
    }


    /* Experiences section */
    .experiences-container h2 {
        font-size: 30px;
    }

    .experience {
        padding: 30px 0 54px;
    }

    .experience-date {
        font-size: 12px;
    }

    .experience-position {
        font-size: 14px;
    }

    .experience-info {
        font-size: 12px;
    }


    /* Back to top */
    #back-to-top {
        width: 24px;
        height: 24px;
        font-size: 10px;
    }
}

@media screen and (max-width: 325px) {
    /* Home */
    .home-container {
        margin-top: -52px;
    }

    .home-section {
        font-size: 12px;
        margin-top: -48px;
    }

    .name h1 {
        font-size: 20px;
    }

    .home-section h3 {
        font-size: 12px;
    }

    .me-image img {
        width: 60%;
        height: 44%;
    }

    .typed-words {
        left: 31%;
    }

    .about-me {
        margin-top: 30px;
    }

    .cv-download {
        width: 47%;
        padding: 7px;
        font-size: 11px;
    }


    /* Experience section */
    .experiences-container {
        padding-top: 20px;
    }

    .experiences-container h2 {
        font-size: 22px;
        margin-bottom: 24px;
    }

    .experience-date {
        font-size: 11px;
    }

    .experience-position {
        font-size: 13px;
    }

    .experience-info {
        font-size: 8px;
    }

    .role-bullet-list li {
        padding-left: 0;
    }

    .experience {
        padding: 18px 0 31px;
    }

    #back-to-top {
        width: 21px;
        height: 21px;
        font-size: 9px;
    }
}