<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/fonts.css">
    <link rel="stylesheet" href="../static/responsive.css">
</head>
<body id="about-body">
    <header>
        <nav>
            <span class="hamburger-menu">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </span>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about" id="about-btn-on-page" class="active">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main id="main-about">
        <div id="about-container">
            <section id="about">
                <h1 id="about-h1">About Me</h1>
                <p>
                    As an aspiring junior software developer, I have been diligently building my skillset in Python, allowing
                    me to develop innovative solutions and work with REST APIs.
                </p>
                <p>
                    Familiar with Linux-based systems, HTTP protocols, and Git for version control, I continually strive to
                    expand my knowledge in these areas. I have gained experience working with DNS, FTP, SSH, and web hosting
                    technologies, as well as cPanel and WordPress.
                </p>
                <p>
                    My understanding of SSL certificates, email protocols
                    like IMAP and POP3, and experience in configuring and troubleshooting email services contribute to my
                    growing expertise. Currently enrolled in a Django course at Softuni, I am committed to learning and
                    growing as a developer, making me an enthusiastic and dedicated candidate for junior web development
                    positions.
                </p>
            </section>
        </div>
    </main>
    <footer id="about-footer">
        <p>&copy; Alexander Zashev, 2023. All rights reserved.</p>
    </footer>
    <script src="../static/hamburger.js"></script>
    <script src="../static/script.js"></script>
    <script src="../static/SmoothScroll.js"></script>
    <script>
        SmoothScroll({stepSize: 40});
    </script>
</body>
</html>