<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/fonts.css">
    <link rel="stylesheet" href="../static/responsive.css">
</head>
<body id="contact-body">
<header>
    <nav>
        <span class="hamburger-menu">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact" id="contact-btn-on-page" class="active">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="contact">
        <div class="contact-card">
            <img src="../static/images/me.jpg" alt="Your Name" class="profile-image">
            <div class="card-content">
                <h1>Contact Me</h1>
                <p>If you would like to get in touch, please feel free to reach out via:</p>
                <div class="email-container">
                    <div class="email-wrapper">
                        <h2>Email:</h2>
                        <span id="email">azashev93@gmail.com</span>
                        <button id="copy-email-btn"><i class="fa-regular fa-copy"></i></button>
                        <div class="copy-message">Email copied!</div>
                    </div>
                </div>
                <div class="socials-wrapper">
                    <h2>Socials:</h2>
                    <div class="icon-links">
                        <a href="https://www.linkedin.com/in/alexander-zashev/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/azashev" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://instagram.com/azashev" target="_blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <p>&copy; Alexander Zashev, 2023. All rights reserved.</p>
</footer>
<script src="../static/hamburger.js"></script>
<script src="../static/contact.js" defer></script>
</body>
</html>