<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/fonts.css">
</head>
<body id="home-body">
    <header>
        <nav>
            <ul>
                <li><a href="/" id="home-btn-on-page" class="active">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <h1>Welcome</h1>
            <h2>Hi, I'm Alexander, an aspiring software developer specialized in <span class="typed-words"></span></h2>
        </section>


        <section id="skills">
            <h2>Skills</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Python</li>
            </ul>
        </section>

    </main>

    <footer>
        <p>&copy; Alexander Zashev, 2023. All rights reserved.</p>
    </footer>
    <script src="../static/typed-script.js" defer></script>
    <script src="../static/typed.umd.js"></script>
</body>
</html>
