<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>
<body id="home-body">
<header>
    <nav>
        <span class="hamburger-menu">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </span>
        <ul>
            <li><a href="/" id="home-btn-on-page" class="active">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="home-container">
        <div class="home-section">
            <div class="name">
                <h1>Hi, I'm Alexander</h1>
            </div>
            <h3>an aspiring software developer specialized in <span class="typed-words"></span></h3><br/>
            <div class="about-me">
                <div class="about-me-info">
                    <div class="info-wrapper">
                        <p>Email: azashev93@gmail.com</p>
                    </div>
                </div>
                <a href="/download-cv" download class="cv-download">DOWNLOAD CV</a>
            </div>
        </div>
        <div class="me-image">
            <img src="../static/images/me.jpg" alt="me">
        </div>
    </div>
    <div class="experiences-container">
        <h2>Experience</h2>
        <div class="experiences">
            <div class="experience">
                <div class="experience-date">
                    <p class="date">February, 2020 - Present</p>
                </div>
                <div class="experience-info">
                    <h3 class="experience-position">Technical Support Specialist</h3>
                    <p class="experience-description">In my current role as a Technical Support Specialist at FastComet,
                        a web hosting company, I have demonstrated consistent growth and development within the
                        organization:
                    </p>
                    <ul class="role-bullet-list">
                        <li>Initially started as a Customer Care Support, providing assistance through chat support
                        </li>
                        <li>Progressed to Technical Support Specialist, working with various technologies, including
                            bash, DNS, email services, website transfers, and script installations (e.g., Python,
                            Node.js, WordPress, Joomla, PrestaShop, OpenCart, Laravel)
                        </li>
                        <li>Promoted to Technical Support Specialist Level 2, gaining expertise in databases, Linux
                            web servers, BitNinja, LiteSpeed, WHM, cPanel, SSL certificates, and troubleshooting
                            customer issues
                        </li>
                    </ul>
                    <p class="experience-location">Plovdiv / Bulgaria</p>
                </div>
            </div>
            <div class="experience">
                <div class="experience-date">
                    <p class="date">September, 2018 - December, 2019</p>
                </div>
                <div class="experience-info">
                    <h3 class="experience-position">KYC/AML Analyst</h3>
                    <p class="experience-description">As a KYC/AML Analyst for SBTech, a sports betting company, I
                        performed risk assessments and conducted comprehensive background checks on new clients. My
                        responsibilities included verifying customer information, monitoring transactions for suspicious
                        activity, and ensuring compliance with anti-money laundering (AML) and know-your-customer (KYC)
                        regulations.
                    </p>
                    <p class="experience-location">Plovdiv / Bulgaria</p>
                </div>
            </div>
        </div>
    </div>
</main>

<button id="back-to-top" title="Back to top"><i class="fa-solid fa-arrow-up"></i></button>
<footer>
    <p>&copy; Alexander Zashev, 2023. All rights reserved.</p>
</footer>
<script src="../static/js/hamburger.js"></script>
<script src="../static/js/script.js"></script>
<script src="../static/js/typed-script.js" defer></script>
<script src="../static/js/typed.umd.js"></script>
<script src="../static/js/backtotop.js" defer></script>
<script src="../static/js/SmoothScroll.js"></script>
<script>
    SmoothScroll({stepSize: 40});
</script>
</body>
</html>